/* rgb(0, 151, 178) cor base do produto */
/* rgb(240, 240, 240) cor do fundo cinza das imagens */

.head{
    background-image: url("images/BeginingChanged.jpg");
    background-position: right center;
    background-position: right center;
    background-position-x: right;
    background-position-y: center;
    background-repeat: no-repeat;
    background-size: cover;
    box-sizing: border-box;
    padding-bottom: 4%;
    height: 900px;
    padding-top: 1%;
    margin-right: auto;
    margin-left: auto; 
    background-color: rgba(46, 75, 82, 0);
    width: 100%;
    font-size: 25px;

    /* padding: 10px 16px;
    background: #555555;
    color: #f1f1f1; */
}

.headerFull{
    display: flex;
}
.WebSiteName{
    margin-left: 3em;
    color:rgb(0, 151, 178);
}
.LoginArea{
    height: auto;
    display: flex;
    margin-right: 3em;
    /* color:rgb(0, 151, 178); */
}
.FreeDemo{
    font-family: 'Nunito', sans-serif;
    height: 2em;
    position: relative; left: -3em;
    border: none;
    background-color: rgb(0, 151, 178);

    /* border settings */
    border-radius: 7px;
}
.FreeDemoText{
    font-family: 'Nunito', sans-serif;
    text-align: center;
    color: white;
}
.LoginText{
    font-family: 'Nunito', sans-serif;
    color:rgb(0, 151, 178);
}
.sticky {
    padding-top: 1em;
    background-color: white;
    position: fixed;
    top: 0;
    width: 100%;
}
.sticky + .content {
    padding-top: 102px;
}
.col{
    padding-left: 2em;
    font-weight: 700;
    text-align: center;
    color:rgb(0, 151, 178);
}

.Who{
    font-size: 30px;
    margin-top: 1em;
    font-weight: 700;
    color: rgb(0, 151, 178);
    font-family: 'Nunito', sans-serif;
    padding-right: 30%;
    padding-left: 30%;
    text-align: center;
}
.WhatDo{
    font-size: 20px;
    margin-top: 2em;
    font-family: 'Nunito', sans-serif;
    text-align: center;
}

.Informations{
    margin-top: 5em;
    /* display: flex; */
}
.FirstInformation{
    background-color: rgb(247, 247, 247);
    display: flex;
    width: 100%;
}
.TextFirstInformation{
    padding-left: 10%;
    width: 50%;
}
.InformationTittle{
    font-family: 'Nunito', sans-serif;
    font-weight: 700;
    font-size: 2em;
    margin-top: 1.5em;
    color: rgb(0, 151, 178);
}
.InformationText{
    font-family: 'Nunito', sans-serif;
    margin-top: 0.5em;
    font-size: 2em;
}

.ImageFirstInformation{
    width: 50%;
    padding-left: 10%;
    padding-right: 5%;
}

.SecondInformation{
    display: flex;
}
.TextSecondInformation{
    padding-right: 10%;
    width: 50%;
}
.ThirdInformation{
    background-color: rgb(247, 247, 247);
    display: flex;
}

.PlansMaintittle{
    font-size: 3em;
    margin-top: 2em;
    font-family: 'Nunito', sans-serif;
    text-align: center;
}
.Plansdescription{
    font-family: 'Nunito', sans-serif;
    text-align: center;

}
.PlansCards{
    display: flex;
    margin-top: 3em;
    padding-right: 10%;
    padding-left: 10%;
    
}
.PlansItem{
    display: flex;
}
.IncludeTittle{
    font-family: 'Nunito', sans-serif;
    text-align: center;
}
.IncludeDescription{
    font-family: 'Nunito', sans-serif;
    text-align: center;
}
.ItemDescription{
    font-family: 'Nunito', sans-serif;
}
.Price{
    font-family: 'Nunito', sans-serif;
    text-align: center;
    margin-top: 1em;
}
.SignButton{
    font-family: 'Nunito', sans-serif;
    color: white;
    height: 2em;
    width: 100%;
    border-radius: 7px;
    border: none;
    background-color: rgb(0, 151, 178);
}
.FreePlan{
    border-radius: 10px;
    padding: 1em;
    height: auto;
    margin-left: 19em;
    width: 25%;
    background-color: rgb(247, 247, 247);

}
.PremiumPlan{
    border-radius: 10px;
    padding: 1em;
    height: auto;
    margin-left: 10em;
    width: 25%;
    background-color: rgb(247, 247, 247);
}
.PlansCondition{
    font-family: 'Nunito', sans-serif;
    margin-top: 1em;
    text-align: center;
    font-size: 15px;
}
.ExplanationVideo{
    margin-top: 3em;
    padding-right: 20%;
    padding-left: 20%;
    padding-top: 3em;
    padding-bottom: 3em;
    background-color: rgb(240, 240, 240);
    width: 100%;
}
.TittleExplanation{
    font-weight: 900;
    padding-right: 20%;
    padding-left: 20%;
    font-family: 'Nunito', sans-serif;
    text-align: center;
}
.ImageVideo{
    margin-top: 5em;
    height: auto;
    width: 100%;
}
.Questions{
    padding-right: 30%;
    padding-left: 30%;
    width: 100%;
}
.QuestionsTittle{
    margin-top: 2em;
    text-align: center;
    font-family: 'Nunito', sans-serif;
}
.QuestionExemple{
    display: flex;
    padding-left: 2em;
    margin-top:1.5em;
    background-color: rgb(247, 247, 247);
    border-radius: 10px;
    height: 40px;
    width: 100%;
}
.TextQuestion{
    width: 90%;
}
.MakeDiference{
    background-color: black;
    height: 10em;
    width: 100%;
}
.DiferenceText{
    font-family: 'Nunito', sans-serif;
    text-align: center;
    color: white;
}