@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Nunito', sans-serif;;
}

/* rgb(0, 151, 178) cor base do produto */
/* rgb(240, 240, 240) cor do fundo cinza das imagens */

.head{
    position: relative;
    background-image: url("../images/beginKidImage.jpeg");
    background-position: right center;
    background-position: right center;
    background-position-x: right;
    background-position-y: center;
    background-repeat: no-repeat;
    background-size: cover;
    box-sizing: border-box;
    padding-bottom: 4%;
    height: 700px;
    margin-right: auto;
    margin-left: auto; 
    background-color: rgba(46, 75, 82, 0);
    width: 100%;
    font-size: 15px;
    box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.5);
    /* padding: 10px 16px;
    background: #555555;
    color: #f1f1f1; */
    z-index: 1000;
}

.head::before {
    background-color: #000;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.headerFull{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 30px;
    width: 100%;
    color: red;
}

.leftHeaderContainer {
    display: flex;
    align-items: center;
}
nav {
    margin: 0 40px;

}
.nav-item {
    margin: 0 10px;
}
.nav-link {
    color: #FFFFFF;
    font-weight: normal;
}
.nav-link.change-color {
    color: black;
}
.nav-link:hover {
    color: rgb(0, 151, 178);
}
.WebSiteName{
    color:rgb(0, 151, 178);
    font-size: 22px;
    font-weight: bold;
    text-decoration: none;
}
.LoginArea{
    height: auto;
    display: flex;
    align-items: center;
    /* color:rgb(0, 151, 178); */
}
.LoginArea a {
    text-decoration: none;
}
.FreeDemo{
    border: none;
    background-color: rgb(0, 151, 178);
    text-align: center;
    color: white;
    padding: 10px 16px;
    margin: 0 12px;

    /* border settings */
    border-radius: 7px;
    transition: all 0.2s ease-in-out;
}
.FreeDemo:hover {
   background-color: #01788d; 
}
.LoginText{
    color: #FFFFFF;
}
.LoginText.change-color {
    color: black;
}
.sticky {
    padding-top: 1em;
    background-color: white;
    position: fixed;
    top: 0;
    width: 100%;
}
.sticky + .content {
    padding-top: 102px;
}
.col{
    padding-left: 2em;
    font-weight: 700;
    text-align: center;
    color:rgb(0, 151, 178);
}

.Who{
    font-size: 30px;
    margin-top: 1em;
    font-weight: 700;
    color: rgb(0, 151, 178);
    padding-right: 30%;
    padding-left: 30%;
    text-align: center;
}
.WhatDo{
    font-size: 20px;
    margin-top: 2em;
    text-align: center;
}

.Informations{
    margin-top: 5em;
    /* display: flex; */
}
.Informations .Info {
    padding: 40px;
}
.FirstInformation{
    background-color: rgb(247, 247, 247);
    display: flex;
    align-items: center;

    width: 100%;
}
.TextFirstInformation{
    padding-left: 10%;
    width: 50%;
}
.InformationTittle{
    font-weight: 700;
    font-size: 30px;
    margin-top: 1.5em;
    color: rgb(0, 151, 178);
}
.InformationText{
    margin-top: 0.5em;
    font-size: 20px;
}

.ImageFirstInformation{
    width: 50%;
    padding-left: 10%;
    padding-right: 5%;
}

.SecondInformation{
    display: flex;
    align-items: center;
}
.TextSecondInformation{
    padding-right: 10%;
    width: 50%;
}
.ThirdInformation{
    background-color: rgb(247, 247, 247);
    display: flex;
    align-items: center;
}

.PlansMaintittle{
    font-size: 3em;
    margin-top: 2em;
    text-align: center;
}
.Plansdescription{
    text-align: center;

}
.PlansCards{
    display: flex;
    margin-top: 3em;
    padding-right: 10%;
    padding-left: 10%;
    
}
.PlansItem{
    display: flex;
}
.IncludeTittle{
    text-align: center;
}
.IncludeDescription{
    text-align: center;
}
.Price{
    text-align: center;
    margin-top: 1em;
}
.SignButton{
    color: white;
    height: 2em;
    width: 100%;
    border-radius: 7px;
    border: none;
    background-color: rgb(0, 151, 178);
}
.FreePlan{
    border-radius: 10px;
    padding: 1em;
    height: auto;
    margin-left: 19em;
    width: 25%;
    background-color: rgb(247, 247, 247);

}
.PremiumPlan{
    border-radius: 10px;
    padding: 1em;
    height: auto;
    margin-left: 10em;
    width: 25%;
    background-color: rgb(247, 247, 247);
}
.PlansCondition{
    margin-top: 1em;
    text-align: center;
    font-size: 15px;
}
.ExplanationVideo{
    margin-top: 3em;
    padding-right: 20%;
    padding-left: 20%;
    padding-top: 3em;
    padding-bottom: 3em;
    background-color: rgb(240, 240, 240);
    width: 100%;
}
.TittleExplanation{
    font-weight: 900;
    padding-right: 20%;
    padding-left: 20%;
    text-align: center;
}
.ImageVideo{
    margin-top: 5em;
    height: auto;
    width: 100%;
}
.Questions{
    padding-right: 30%;
    padding-left: 30%;
    width: 100%;
}
.QuestionsTittle{
    margin-top: 2em;
    text-align: center;
}
.QuestionExemple{
    display: flex;
    padding-left: 2em;
    margin-top:1.5em;
    background-color: rgb(247, 247, 247);
    border-radius: 10px;
    height: 40px;
    width: 100%;
}
.TextQuestion{
    width: 90%;
}
.MakeDiference{
    margin-top: 3em;
    padding-right: 25%;
    padding-left: 25%;
    padding-top: 2em;
    padding-bottom: 2em;
    background-color: black;
    width: 100%;
}
.DiferenceText{
    margin: 0;
    text-align: center;
    color: white;
    font-size: 30px;
}
.FormArea{
    width: 100%;
    margin: 80px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.ContactUs{
    text-align: center;
}
.form-data {
    width: 600px;
}
.input-field {
    margin: 16px 0;
    width: 100%;
}
.input-field label{
    display: block;
}
.input-field input{
    border-radius: 5px;
    border: 0.5px solid #CCC;
    /* border:none; */
    padding: 7px;
    outline: none;
    font-size: 14px;
    width: 100%;
}
.input-field textarea{
    border-radius: 5px;
    border: 0.5px solid #CCC;
    background: #FFF; 
    border-radius: 7px;
    padding: 5px 7px;
    outline: none;
    width: 100%;
}
.submit-field {
    text-align: center;
}
.submit-field input[type="submit"] {
    border: none;
    outline: none;
    background-color: #0097B2;
    padding: 8px 16px;
    color: #FFFFFF;
    border-radius: 5px;
    transition: all 0.2s ease-in-out;
}
.submit-field input[type="submit"]:hover {
    background-color: #01788d;
}


.Footer{
    display: flex;
    justify-content: space-between;
    margin-top: 3em;
    width: 100%;
    background-color: rgb(0, 151, 178);
    padding: 20px;
}
.FolowUs{
    display: flex;
    align-items: center;
}
.FollowUsText{
    color: white;
    margin: 0;
}
.SocialMediaIcons{
    display: flex;
    align-items: center;
}
.IconsText{
    cursor: pointer;
    color: white;
    padding: 0 15px;
    margin: 0;
}
.EnterpriseInformation{
    padding-left: 5%;
    width: 100%;
    display: flex;
}
.AlimentraPlusInfo{
    width: 30%;
    margin-top: 3em;
}
.AlimentraPlusInfo a {
    text-decoration: none;
    color: unset;
}
.InfoTittle{
    color: #0097B2;
    font-size: 17px;
    font-style: normal;
    font-weight: 700;
    line-height: normal; 
}
.Rights{
    margin-top: 3em;
    text-align: center;
    font-size: 12px;
}

/* ESTILO CSS DA DEMONSTRAÇÃO DO TIME */

#team{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    margin: 80px 0;
}
.team-heading h2 {
    font-weight: 900;
}
.team-box{
    width: 100%;
    /* max-width: 350px; */
    padding: 20px;
    user-select: none;
    /* border: 10px solid #0617ff; */
}
.t-b-img{
    width: 100%;
    height: 350px;
    position: relative;
}
.t-b-img::after{
    content: '';
    position: absolute;
    left: 0px;
    bottom: 0px;
    width: 100%;
    height: 150px;
    background: linear-gradient(180deg, rgba(0,0,0,0) 0%, rgb(0,0,0) 100%);

}
.t-b-img img{
    width: 100%;
    height: 100%;
    object-fit: contain;
    object-position: bottom;
    /* filter: grayscale(1); */
}
.t-b-text{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.t-b-text strong{
    color: #919191;
    font-weight: 700;
    font-size: 1.2rem;
}
.t-b-text span{
    color: #919191;
    font-size: 0.9rem;

}
.team-social{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 4px;
}
.team-social a{
    margin: 0px 10px;
    color: rgb(19, 20, 20);
    font-size: 0.9rem;
    transition: all ease 0.5s;
}
.team-social a:hover{
    color: rgb(0, 151, 178);
}

.swiper{
    max-width: 745px;
    width: 100%;
    padding-bottom: 50px;
}
.swiper-slide{
    width: 300px !important;
    opacity: 0.2;
    margin: 50px 0px;
    margin-top: 0px;
}
.swiper-slide-active{
    opacity: 1;
    color: rgb(0, 151, 178);
}