
*{
    margin: 0px;
    padding: opx;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    background-color: black;
}

a{
    text-decoration: none;
}

/* ===========================team=============================== */

#team{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    min-height: 100vh;
}
.team-heading h3{
    font-size: 3rem;
}
.team-box{
    width: 100%;
    max-width: 350px;
    padding: 20px;
    user-select: none;
    border: 10px solid #0617ff;
}
.t-b-img{
    width: 100%;
    height: 350px;
    position: relative;
}
.t-b-img::after{
    content: '';
    position: absolute;
    left: 0px;
    bottom: 0px;
    width: 100%;
    height: 150px;
    background: linear-gradient(180deg, rgba(0,0,0,0) 0%, rgb(0,0,0) 100%);

}
.t-b-img img{
    width: 100%;
    height: 100%;
    object-fit: contain;
    object-position: bottom;
    /* filter: grayscale(1); */
}
.t-b-text{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.t-b-text strong{
    color: #919191;
    font-weight: 700;
    font-size: 1.2rem;
}
.t-b-text span{
    color: #919191;
    font-size: 0.9rem;

}
.team-social{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 4px;
}
.team-social a{
    margin: 0px 10px;
    color: #ffffff;
    font-size: 0.9rem;
    transition: all ease 0.5s;
}
.team-social a:hover{
    color: #0617ff;
}
